language: python
cache: pip

python:
  - "3.6"

branches:
  except:
    - legacy

install:
  - travis_retry pip install pylint pytest
  - travis_retry pip install -r requirements.txt

script:
  - pylint toxic_fool/agents/ toxic_fool/models/ toxic_fool/attacks/ toxic_fool/data toxic_fool/logs/ toxic_fool/resources/ toxic_fool/resources_out/ --rcfile=pylint.rc --output-format=parseable
